*{
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}
.sidebar{
    background-image: url("./images/indir.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 15% 40% 45%;
    padding-left: 15%;
    color: palevioletred;
    font-size: 20px;
    font-weight: bolder;
}

.right{
    display: grid;
    grid-template-rows: 25% 75%;
}
.header{
    background-color: lavender;
}
.first{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    font-size: 2rem;
}
.dashicon{
    width: 30px;
}
.icon{
    width: 20px;
}
.second{
    display: grid;
}
ul{
    list-style-type: none;
}
li{
    padding: 0.3rem;
}
.third{
    display: grid;
    padding-top: 50px;
}
a{
    text-decoration: none;
    color: palevioletred;
}
a:hover{
    color: palevioletred;
}
.input{
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 30px;
    align-items: center;
}
input{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: gray;
}
.search-icon{
    width: 25px;
    padding-right: 10px;
}
.bell-icon{
    width: 25px;
}
.top{
    display: grid;
    grid-template-columns: 1fr max-content;
}
.top-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.picture{
    background-image: url("./images/Lily.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.top-right .picture{
        margin: 0 1rem 0 1rem;
        height: 40px;
        width: 40px;
}
p.name{
    margin-top: 16px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}
 .bottom-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 40px;
 }
 .bottom-left .picture{
    margin: 0 1rem 0 1rem;
    height: 55px;
    width: 55px;
}
.bottom-left{
    display: flex;
    flex-direction: row;
}
.bottom-left p{
    margin: 0;
}
.main-content{
   display: grid;
   grid-template-columns: 70% 30%;
}
.main-right{
    display: grid;
    grid-template-rows: 45% 55%;
}
.triple{
    width: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3,110px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.cardlinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.card{
    
    background-color: rgb(244, 236, 248);
    border-left: 0.3cm solid palevioletred;
}
.text1{
    font-weight: bold;
   padding-left: 10px;
}
.text2{
    padding-left: 20px;
}
.place{
    background-color: rgb(244, 236, 248);
    width: 80%;
    height: 75%;
    border-radius: 10px;
}
.place p{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    margin: 10px 15px;
}
.avatar{
    background-image: url("./images/indir\ \(1\).jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.trend{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
.trends{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.avatarname{
    margin: 0;
    padding-left: 5px;
}
